* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue/HelveticaNeueBlack.otf);
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url(../fonts/HelveticaNeue/HelveticaNeueMedium.otf);
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'HelveticaNeue';
    color: black;
}
